<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<section layout:fragment="conteudo" >
	<div id="principal" style="background-color:rgb(241, 90, 34);color:white;height:100vh;text-align:center;padding-top:200px" >
         <h1>Sistema de Gestão Financeira</h1>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
      
  </div>
</section>
</html>
