<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<section layout:fragment="conteudo" >
	<div id="principal" style="background-color:rgb(0, 84, 101);color:white;height:100vh;text-align:center;padding-top:150px" >
         <h1>Sobre</h1>
         <p>Este e um sistema de Gestao Financeira, onde usuario pode listar suas despesas, receita, e o saldo final do mês</p>
      	 <br>
      	 <p>Sistema Criado pelos alunos Aline Vitória, Samuel Ribeiro e Wilson Campinho.</p>
  </div>
  
</section>
</html>
