<ion-header>
  <ion-toolbar>
    <ion-title>Meses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
    <ion-item-sliding *ngFor="let m of meses">
    <!-- Link para edição-->
    <ion-item (click)="editMes(m.id)">
    <h2>{{m.nome}}</h2>
    </ion-item>
    <!-- Botao para apagar-->
    <ion-item-options side="end">
    <ion-button color="danger" (click)="removeMes(m.id)">
    <ion-icon name="trash"></ion-icon>
    Excluir
    </ion-button>
    </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    <!-- Botao Novo-->
    <ion-fab>
    <ion-fab-button color="light" (click)="addMes()">
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    </ion-fab>
 </ion-content>