<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<section layout:fragment="conteudo" style="background-color:rgb(0, 84, 101);height:100vh;">

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Receitas</h1>
		</div>
		<div class="panel-body">

			<form class="form-inline" method="POST" th:action="@{/receitas}"
				th:object="${receita}" style="margin: 20px 0">
				<div class="form-group">
					<input type="hidden" class="form-control" placeholder="Id"
						th:field="*{id}" /> <input type="text" class="form-control"
						placeholder="Nome" th:field="*{nome}" /> <input type="text"
						class="form-control" placeholder="Valor" th:field="*{valor}" />
					<button type="submit" class="btn btn-primary">Adicionar</button>
                                        
                                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                                            <p th:each="erro : ${#fields.errors('*')}" 
                                               th:text="${erro}">                    
                                            </p>
                                        </div>
				</div>
			</form>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Valor</th>
						<th colspan="2">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r:${receitas}">
						<td th:text="${r.id}">1</td>
						<td th:text="${r.nome}">Samuel</td>
						<td th:text="${r.valor}">300.0</td>
						<td><a th:href="@{/receitas/alterar/} + ${r.id}"
							class="glyphicon glyphicon-pencil"></a></td>
						<td><a th:href="@{/receitas/excluir/} + ${r.id}"
							class="glyphicon glyphicon-trash"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</html>
